# Specify filepatterns you want git to ignore.

*.pyc
*.sqlite3
line/migrations/*
github
*.sublime-project
*.sublime-workspace

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
