{% extends 'base.html' %}
{% load static %}
{% block content %}
  <script>
  	let current_line = {{current_line.uid}};
  	let default_cycle_time = {{current_line.cycle_time}}
  	var token = '{{csrf_token}}'
  	var is_active = '{{active_goal.is_active}}'
  	var warning_units = '{{current_line.warning_units}}'
  	var error_units = '{{current_line.error_units}}'
  	var start_hour = []
	var start_minute = []
	var end_hour = []
	var end_minute = []
  	{% for schedule in schedules %}
		start_hour.push('{{schedule.start_hour}}');
		start_minute.push('{{schedule.start_minute}}');
		end_hour.push('{{schedule.end_hour}}');
		end_minute.push('{{schedule.end_minute}}');
	{% endfor %}

  </script>
  {{schedules}}
  <script src="{% static '../static/goal_view.js' %}"></script>

	<div class="row">
		<hr>
	</div>
	<div class="jumbotron" style="background-color: {{current_line.color}};">
  		<div align="center">
  			<h1>{{current_line.description}}</h1>
  		</div>
	</div>
	<div class="row" {% if active_goal.is_active is False %}style="opacity: 0.7;" {% endif %}>
		<div class="col-md-6" align="center">
			<div class="panel panel-default">

				<div class="panel-body">
		    	<h1 style="font-size:80px;">Goal</h1>
		    	<h2 id="current-goal-units" style="font-size:120px;">{{active_goal.real_time_goal}}</h2>
		  	</div>

			  	<div class="row">
					  <div class="col-md-6" align="center">
						  	<div class="panel-body">
						    	<h1>Cycle</h1>
						    	<h2 id="goal">{{current_line.cycle_time}}</h2>
						  	</div>
					  </div>
					  <div class="col-md-6" align="center">
					  	<div class="panel-body">
					    	<h1>Daily Goal</h1>
					    	<h2 id="goal">{{current_line.goal_time}}</h2>
					  	</div>
					  </div>
					</div>
						<h2>
							<div class="row" id="current-date">
								date
							</div>
						</h2>
			</div>

		</div>
		<div class="col-md-6" align="center">
			<div class="panel panel-default">

		  	<div class="panel-body"  id="actual-container">
		  		<h1 style="font-size:80px;">Actual</h1>
		  		
					<h2 id="actual-units" style="font-size:120px;">{{active_goal.actual}}</h2>
						<button type="button" class="btn btn-primary" id="unit-done">Add Unit</button>
						<button type="button" class="btn btn-primary" id="unit-remove">Remove Unit</button>
			</div>
			</div>

			<div class="panel panel-default col-md-12">
				<div class="panel-body">
				  <h1>Current Cycle</h1>
				  <h2 id="cycle-time">{{current_line.cycle_time}}</h2>
				  <button type="button" class="btn btn-primary" id="start-timer">Start Timer</button>
					<button type="button" class="btn btn-primary" id="stop-timer">Stop Timer</button>
				</div>


			</div>
		</div>
	</div>
	<form action="submit" method="post">{% csrf_token %}
	<input type="hidden" id="actual" name="actual" value="{{active_goal.actual}}">
	<input type="hidden" id="real_time_goal" name="real_time_goal" value="{{active_goal.real_time_goal}}">
	<input type="hidden" id="line" name="line" value="{{current_line.uid}}">
	<button type="submit" class="btn btn-primary center-block" id="submit" value="foo">Submit</button>
	</form>

{% endblock %}

