{% extends 'base.html' %}
{% load static %}
{% block content %}
  <script>
  	let current_line = {{current_line.uid}};
  	let default_cycle_time = {{current_line.cycle_time}}
  	var token = '{{csrf_token}}'
  	var is_active = '{{active_goal.is_active}}'
  	var warning_units = '{{current_line.warning_units}}'
  	var error_units = '{{current_line.error_units}}'
  	var start_hour = []
	var start_minute = []
	var end_hour = []
	var end_minute = []
  	{% for schedule in schedules %}
		start_hour.push('{{schedule.start_hour}}');
		start_minute.push('{{schedule.start_minute}}');
		end_hour.push('{{schedule.end_hour}}');
		end_minute.push('{{schedule.end_minute}}');
	{% endfor %}

  </script>
  <script src="{% static '../static/goal_view.js' %}"></script>

	<div class="jumbotron" style="background-color: {{current_line.color}}; margin: 0px; padding: 10px;">
  		<div align="center">
  			<h1 style="font-weight: 800; font-size:80px;">{{current_line.description}}</h1>
  		</div>
	</div>
	<div class="row" {% if active_goal.is_active is False %}style="opacity: 0.7;" {% endif %}>
		<div class="col-md-6" align="center">
			<div class="panel panel-default">

				<div class="panel-body">
		    	<h1 style="font-size:60px;">Goal</h1>
		    	<h2 id="current-goal-units" style="font-size:60px;">{{active_goal.real_time_goal}}</h2>
		  	</div>
				<div class="col-xs-12" style="height:40px;"></div>

			  	<div class="row">
					  <div class="col-md-4" align="center">
						  	<div class="panel-body">
						    	<h1 style="font-size:40px;">Cycle</h1>
						    	<h2 style="font-size:40px;" id="goal">{{current_line.cycle_time}}</h2>
						  	</div>
					  </div>
					  <div class="col-md-4" align="center">
					  	<div class="panel-body">
					    	<h1 style="font-size:40px;">Daily Goal</h1>
					    	<h2 style="font-size:40px;" id="goal">{{current_line.goal_time}}</h2>
					  	</div>
					  </div>
					  <div class="col-md-4" align="center">
					  	    <div class="panel-body">
								<h1>
							<div style="font-size:40px;" class="row" id="current-date">
								date
							</div></h1>
					  	</div>
					  </div>
					</div>
				<div class="col-xs-12" style="height:35px;"></div>

				<div class="row">
					<form action="submit" method="post">{% csrf_token %}
					<input type="hidden" id="actual" name="actual" value="{{active_goal.actual}}">
					<input type="hidden" id="real_time_goal" name="real_time_goal" value="{{active_goal.real_time_goal}}">
					<input type="hidden" id="line" name="line" value="{{current_line.uid}}">
					<button type="submit" class="btn btn-primary center-block" id="submit" value="foo" style="font-size:40px; padding: 5px;">Submit</button>
				</form>

				</div>
			</div>

		</div>
		<div class="col-md-6" align="center">
			<div class="panel panel-default">

		  	<div class="panel-body"  id="actual-container">
		  		<h1 style="font-size:60;">Actual</h1>
		  		
					<h2 id="actual-units" style="font-size:60px;">{{active_goal.actual}}</h2>
						<button style="font-size:30px;" type="button" class="btn btn-primary" id="unit-done">Add Unit</button>
						<button style="font-size:30px;" type="button" class="btn btn-primary" id="unit-remove">Remove Unit</button>
			</div>
			</div>

			<div class="panel panel-default col-md-12">
				<div class="panel-body">
				  <h1 style="font-size:40px;">Current Cycle</h1>
				  <h2 style="font-size:60px;" id="cycle-time">{{current_line.cycle_time}}</h2>
				  <button style="font-size:30px;" type="button" class="btn btn-primary" id="start-timer">Start Timer</button>
					<button style="font-size:30px;" type="button" class="btn btn-primary" id="stop-timer">Stop Timer</button>
				</div>


			</div>
		</div>
	</div>


{% endblock %}

