{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pallet Shelter Production</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '../static/goal_view.js' %}"></script>

<div class="container">
	<div class="row">
		<div class="col-md-6"><img src="{% static 'Pallet_Logo.png' %}" alt="Pallet Logo" height="150" width="150"></div>
		<div class="col-md-6"></div>
	</div>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Value Streams<span class="caret"></span></a>
          <ul class="dropdown-menu">
          	{% for line in lines %}
						<li><a href="/goal_view?line={{line.uid}}">{{line.description}}</a></li>
						{% endfor %}
          </ul>
        </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<div class="row">
		<hr>
	</div>
	<div class="jumbotron">
  		<div align="center">
  			<h1>{{current_line.description}}</h1>
  		</div>
	</div>
	<div class="row">
		<div class="col-md-6" align="center">
			<div class="panel panel-default">

				<div class="panel-body">
		    	<h1 style="font-size:80px;">Goal</h1>
		    	<h2 id="current-goal-units" style="font-size:120px;">00</h2>
		  	</div>

			  	<div class="row">
					  <div class="col-md-6" align="center">
						  	<div class="panel-body">
						    	<h1>Cycle</h1>
						    	<h2 id="goal">{{current_line.cycle_time}}</h2>
						  	</div>
					  </div>
					  <div class="col-md-6" align="center">
					  	<div class="panel-body">
					    	<h1>Daily Goal</h1>
					    	<h2 id="goal">{{current_line.goal_time}}</h2>
					  	</div>
					  </div>
					</div>
						<h2>
							<div class="row" id="current-date">
								date
							</div>
						</h2>
			</div>

		</div>
		<div class="col-md-6" align="center">
			<div class="panel panel-default">

		  	<div class="panel-body">
		  		<h1 style="font-size:80px;">Actual</h1>
		  		
					<h2 id="actual-units" style="font-size:120px;">00</h2>
						<button type="button" class="btn btn-primary" id="unit-done">Add Unit</button>
						<button type="button" class="btn btn-primary" id="unit-remove">Remove Unit</button>
			</div>
			</div>

			<div class="panel panel-default col-md-12">
				<div class="panel-body">
				  <h1>Current Cycle</h1>
				  <h2 id="cycle-time">{{current_line.cycle_time}}</h2>
				  <button type="button" class="btn btn-primary" id="start-timer">Start Timer</button>
					<button type="button" class="btn btn-primary" id="stop-timer">Stop Timer</button>
				</div>


			</div>
		</div>
	</div>
	<form action="submit" method="post">{% csrf_token %}
	<input type="hidden" id="actual" name="actual" value="0">
	<input type="hidden" id="line" name="line" value="{{current_line.uid}}">
	<button type="submit" class="btn btn-primary center-block" id="submit" value="foo">Submit</button>
	</form>

  </body>
</html>



<html>





</html>