{% extends 'base.html' %}
{% block headers %}
<meta http-equiv="refresh" content="30">
{% endblock %}
{% block content %}
<table class="table-striped table">
  <thead>
    <h2>Today's Open Value Streams</h2>
    <tr>
      <th>Date</th>
      <th>Value Stream</th>
      <th>Daily Goal</th>
      <th>Cycle Time</th>
      <th>Real Time Goal</th>
      <th>Actual</th>
      <th>Headcount</th>
      <th>Reason</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for goal in open_goals %}
      <td>{{goal.date}}</td>
      <td>{{goal.line}}</td>
      <td>{{goal.goal}}</td>
      <td>{{goal.cycle_time}}</td>
      <td>{{goal.real_time_goal}}</td>
      <td>{{goal.actual}}</td>
      <td>{{goal.headcount}}</td>
      <td>{{goal.reason.description}}</td>
      <td>{{goal.comment}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table-striped table">
  <thead>
    <h2>Today's Closed Value Streams</h2>
    <tr>
      <th>Date</th>
      <th>Value Stream</th>
      <th>Daily Goal</th>
      <th>Cycle Time</th>
      <th>Real Time Goal</th>
      <th>Actual</th>
      <th>Headcount</th>
      <th>Reason</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for goal in closed_goals %}
      <td>{{goal.date}}</td>
      <td>{{goal.line}}</td>
      <td>{{goal.goal}}</td>
      <td>{{goal.cycle_time}}</td>
      <td>{{goal.real_time_goal}}</td>
      <td>{{goal.actual}}</td>
      <td>{{goal.headcount}}</td>
      <td>{{goal.reason.description}}</td>
      <td>{{goal.comment}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

