{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Pallet Shelter Production</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '../static/goal_view.js' %}"></script>

<div class="container">
	<div class="row">
		<div class="col-md-6"><img src="{% static 'Pallet_Logo.png' %}" alt="Pallet Logo" height="150" width="150"></div>
		<div class="col-md-6"></div>
	</div>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin">Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Value Streams<span class="caret"></span></a>
          <ul class="dropdown-menu">
          	{% for line in lines %}
						<li><a href="/goal_view?line={{line.uid}}">{{line.description}}</a></li>
						{% endfor %}
          </ul>
        </li>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<form id="values_form" action="receive" method="post">
{% csrf_token %}

  <div class="form-group">
    <label for="current_line_name">Current Value Stream</label>
    <input type="hidden" class="form-control" name="current_value_stream" id="current_value_stream" value="{{current_line.uid}}">
    <input type="text" class="form-control" name="current_value_stream" id="current_value_stream" value="{{current_line.description}}" disabled="disabled">
  </div>
  <div class="form-group">
    <label for="actual_units">Actual Units Completed</label>
    <input type="hidden" class="form-control" name="actual_units_completed" id="actual_units_completed" value="{{actual}}">
    <input type="text" class="form-control" name="actual_units_completed" id="actual_units_completed" value="{{actual}}" disabled="disabled">
  </div>
  <div class="form-group">
    <label for="geal time goal_units">Real Time Goal Units</label>
    <input type="hidden" class="form-control" name="real_time_goal" id="real_time_goal" value="{{real_time_goal}}">
    <input type="text" class="form-control" name="real_time_goal" id="real_time_goal" value="{{real_time_goal}}" disabled="disabled">
  </div>
  <div class="form-group">
    <label for="goal_units">Daily Goal Units</label>
    <input type="hidden" class="form-control" name="goal_units_completed" id="goal_units_completed" value="{{current_line.goal_time}}">
    <input type="text" class="form-control" name="goal_units_completed" id="goal_units_completed" value="{{current_line.goal_time}}" disabled="disabled">
  </div>
  <div class="form-group">
    <label for="cycle time">Cycle Time</label>
    <input type="hidden" class="form-control" name="cycle_time" id="cycle_time" value="{{current_line.cycle_time}}">
    <input type="text" class="form-control" name="cycle_time" id="cycle_time" value="{{current_line.cycle_time}}" disabled="disabled">
  </div>
   
  <div class="form-group">
    <label for="headcount">Headcount</label>

    <select class="form-control" id="headcount" name="headcount">
      <option value=1 {% if current_line.default_headcount is 1 %} selected {% endif %}>1</option>
      <option value=2 {% if current_line.default_headcount is 2 %} selected {% endif %}>2</option>
      <option value=3 {% if current_line.default_headcount is 3 %} selected {% endif %}>3</option>
      <option value=4 {% if current_line.default_headcount is 4 %} selected {% endif %}>4</option>
      <option value=5 {% if current_line.default_headcount is 5 %} selected {% endif %}>5</option>
      <option value=6 {% if current_line.default_headcount is 6 %} selected {% endif %}>6</option>
      <option value=7 {% if current_line.default_headcount is 7 %} selected {% endif %}>7</option>
      <option value=8 {% if current_line.default_headcount is 8 %} selected {% endif %}>8</option>
      <option value=9 {% if current_line.default_headcount is 9 %} selected {% endif %}>9</option>
      <option value=10 {% if current_line.default_headcount is 10 %} selected {% endif %}>10</option>
  </select>
  </div>

  <div class="form-group">
  <label for="reason_code">Reason Code (optional)</label>

  <select class="form-control" id="reason" name="reason">
    {% for reason in reasons %}
      <option value="{{reason.code}}">{{reason.code}} - {{reason.description}}</option>
    {% endfor %}
  </select>
  </div>
  <div class="form-group">
    <label for="additional">Additional Information</label>
    <input type="text" class="form-control" id="additional" name="additional" value="">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>


</div>